.home-banner-div{
    background: #4F5050;
    width: 100%;
    height: 50em;
  }
  
  .banner-image {
    width: 100%;
    height: 50em;
    object-fit: cover;
  }
  
  .home-banner-indicators {
    position: absolute;
    right: 2em;
    top: 38.2em;
    border-radius: 2em;
    color: white;
    font-size: 10px;
    padding: 0.3em 0 0.5em 1.5em;
  }
  
  .fa-circle-thin.active{
    border-radius: 50%;
    color: #524CF0;
    background: #524CF0;
    box-shadow: inset 0px 0px 10px 2px #524CF0, 0px 0px 10px 2px #524CF0;
  }
  
  .spaced{
    margin: 0.9em;
  }
  
  .montserrat-font{
    font-family: 'Montserrat', sans-serif;
  }
  
  .big-heading{
    font-size: 3.5em;
    line-height: 1em;
  }
  
  .full-rounded-input{
    border-radius: 2em;
    width: 100%;
    border: 1px solid #DFEAEF;
    font-size: 12px;
    color: #AEAFAE;
    padding: 0.8em 10.5em 0.8em 4em;
    display: inline-flex;
  }
  
  .full-rounded-input-button{
    border: none;
    width: 25%;
    background: #5747F9;
    border-radius: 2em;
    padding: 0.86em;
    text-align: center;
    font-size: 10px;
    color: white;
    float: right;
    margin-top: -3.1em;
    margin-right: 0.3em;
    position: relative;
  }
  
  @-moz-document url-prefix() {
    .full-rounded-input-button{
      border: none;
      width: 25%;
      background: #5747F9;
      border-radius: 2em;
      padding: 0.86em;
      text-align: center;
      font-size: 10px;
      color: white;
      float: right;
      margin-top: -3.2em;
      margin-right: 0.3em;
      position: relative;
    }
  }
  
  .full-rounded-input-button.normal{
    margin-top: 2em;
    position: unset;
    float: unset;
  }
  
  .banner-overlay{
    top: 19.5em;
    left: 18em;
    position: absolute;
    color: white;
  }
  
  .gradient{
    background: linear-gradient(0.25turn, #4944F8, #8B52FD);
  }
  
  .input-icon{
    margin-top: -1em;
    position: relative;
    top: 1.85em;
    left: 1.5em;
    color: black;
  }
  
  .full-rounded-button{
    margin: 1em;
    border: none;
    border-radius: 12em;
    padding: 1.2em 3em;
    text-align: center;
    font-size: 12px;
    color: white;
  }
  
  .button-icon{
    height: 1.3em;
    margin-right: 3em;
  }
  
  .button-shadow{
    -moz-box-shadow: 0 0 30px rgb(198, 196, 245);
    -webkit-box-shadow: 0 0 30px rgb(198, 196, 245);
    box-shadow: 0 0 30px rgb(198, 196, 245);
  }
  
  .blue{
    color: #5A4AF9;
  }
  
  .home-paragraph{
    width: 40%;
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 3em;
  }
  
  .blueish{
    color: #5D6098;
    font-weight: 600;
  }
  
  .whiteish{
    color: white;
    font-weight: 600;
  }
  
  .word-banner{
    padding-top: 6em;
    height: 42em;
  }
  
  .short-word-banner{
    padding-top: 6em;
    height: 30em;
  }
  
  .medium-word-banner{
    padding-top: 6em;
    height: 36em;
  }
  
  .dark-background{
    background: #242526;
  }
  
  .picture-banner{
    height: 42em;
  }
  
  .picture-banner-image {
    width: 100%;
    height: 42em;
    object-fit: cover;
  }
  
  .half-banner{
    width: 50%;
    height: 42em;
    float: left;
  }
  
  .blue-background{
    background: #524CF0;
  }
  
  .purple-background{
    background: #8D5FF4;
  }
  
  .light-blue-background{
    background: #ECF5F6;
  }
  
  .very-short-banner{
    height: 25em;
  }
  
  .thin{
    font-weight: 300;
  }
  
  .medium-paragraph{
    font-size: 20px;
    margin-bottom: 1em;
  }
  
  .big-paragraph{
    font-size: 30px;
    margin-bottom: 0.8em;
    margin-top: 3em;
  }
  
  .member-circle{
    border-radius: 50%;
    width: 4em;
    height: 4em;
    overflow: hidden;
    background-color: white;
    margin-left: calc(50% - 2em);
  }
  
  .small-and-bold{
    font-size: 10px;
    font-weight: 700;
  }
  
  .small-and-blue{
    font-size: 10px;
    color: #524bf9;
  }
  
  .badge-with-tiny-text{
    position: relative;
    background-color: transparent;
  }
  
  .badge-with-tiny-text[data-badge]:after {
    content: attr(data-badge);
    position: relative;
    display: inline-block;
    top: -8.2em;
    margin-right: -6em;
    margin-left: 1.6em;
    font-size: 7px;
    background: #534CF9;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 21px;
    border-radius: 50%;
  }
  
  .badge-with-tiny-text.orange-background:after{
    background: #EC774D;
  }
  
  .width-16-percent{
    width: 16.66667%
  }
  
  .dark-icon{
    -webkit-filter: opacity(.5) drop-shadow(0 0 0 black);
    filter: opacity(.5) drop-shadow(0 0 0 black);
  }
  
  .white-icon{
    -webkit-filter: opacity(.5) drop-shadow(0 0 0 white);
    filter: opacity(.5) drop-shadow(0 0 0 white);
  }
  .blue-icon{
    -webkit-filter: opacity(.5) drop-shadow(0 0 0 #534CF9);
    filter: opacity(.5) drop-shadow(0 0 0 #534CF9);
  }
  
  .center-cropped-medium {
    padding: 0.8em;
    width: 4em;
    height: 4em;
    object-fit: cover
  }
  
  .floating-image{
    margin-top: -22em;
  }
  
  .besides-floating-image{
    width: 15em;
    margin-left: 2em;
    margin-right: -14em;
  }
  
  .bottom-image{
    width: 17em;
    position: relative;
    left: -37em;
    bottom: 7.5em;
    z-index: 0;
  }
  
  .icon-circle{
    border-radius: 50%;
    width: 5.5em;
    height: 5.5em;
    overflow: hidden;
    border: 1px solid white;
    margin-left: calc(50% - 2.75em);
  }
  
  .center-cropped-small {
    margin-top: 1.5em;
    width: 2.5em;
    height: 2.5em;
    object-fit: cover;
  }
  
  .white-and-thin-text{
    font-size: 15px;
    color: white;
    font-weight: 300;
    margin-top: 1em;
    display: block;
  }
  
  .white-small-and-thin-text{
    font-size: 10px;
    font-weight: 300;
    color: white;
    margin-top: 1em;
    display: block;
  }
  
  .padding-1em{
    padding: 1em;
  }
  
  .padding-3em{
    padding: 3em;
  }
  
  .white-medium-and-bold{
    color: white;
    font-weight: 600;
    font-size: 12px;
  }
  
  .white-medium-text {
    color: white;
    font-size: 12px;
  }
  
  .purple-bubble{
    background: #8C52FB;
    border-radius: 50%;
    color: white;
    padding: 0.1em 0.5em 0.1em 0.5em;
    margin: 0.5em;
    font-weight: 300;
  }
  
  .position-absolute{
    position: absolute;
  }
  
  .back-image{
    margin-bottom: -32em;
    margin-top: -3em;
    height: 100%;
    width: 100%;
    object-fit: cover;
    left: 0;
  }
  
  .second-banner-overlay{
    position: absolute;
    top: 187em;
    right: 15em;
    width: 28em;
    color: white;
  }
  
  .font-size-12 {
    font-size: 12px;
  }
  
  .white-small-and-bold-text {
    font-size: 10px;
    font-weight: 600;
    color: white;
    margin-top: 1em;
    display: block;
  }
  
  .small-bullet{
    color: #4F50F1;
    font-size: 10px;
    margin-top: 1em;
  }
  
  .medium-image{
    width: 16em;
    margin-top: 5em;
  }
  
  .padding-left-and-right-12-em{
    padding-left: 11.5em;
    padding-right: 11.5em;
  }
  
  .blue-small-bold-and-spaced{
    font-size: 10px;
    font-weight: 600;
    color: #4F50F1;
    letter-spacing: 2px;
  }
  
  .small-and-grey{
    font-size: 11px;
    color: #8C8D8E;
  }
  
  .greyish{
    color: #4D506C;
  }
  
  .width-51-percent{
    width: 51%;
  }
  
  .tiny-margins{
    margin-top: 0.2em;
    margin-bottom: 0.7em;
  }
  
  .quote{
    display: flex;
    font-size: 12px;
    font-weight: 600;
    color: #8F9091;
    width: 100px;
    padding-left: 4em;
    border-left: 3px solid #949596;
  }
  
  .quote.white {
    color: white;
    border-left: 3px solid white;
  }
  
  .vertical-align-top{
    vertical-align: top;
  }
  
  .tiny-block{
    width: 67%;
    display: flex;
  }
  
  .margin-top-and-bottom-7em{
    margin-top: 7em;
    margin-bottom: 7em;
  }
  
  .gradient-overlay:after{
    position: absolute;
    content:"";
    height: 50.11em;
    width: 100%;
    top: 30.85em;
    left:0;
    background: linear-gradient(to right, rgba(140,82,251,0.1),rgba(140,82,251,0.8), rgba(140,82,251,0.1));
  }
  
  .display-block{
    display: block;
  }
  
  .overlay-heading{
    margin-top: -50em;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative;
  }
  
  .navbar-button.plain.big-button{
    padding: 1.2em 3em;
    color: white;
  }
  
  .button-container{
    margin-top: 5em;
  }
  
  .very-big-heading{
    font-size: 9rem;
    line-height: 0.5em;
  }
  
  .medium-heading{
    font-size: 4rem;
  }
  
  .big-banner-div{
    height: 80em;
  }
  
  .centered-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .blue{
    color: #524CF0;
  }
  
  .light-grey{
    color: #AEAFAE;
  }
  
  .font-weight-300{
    font-weight: 300;
  }
  
  .width-36-percent{
    width: 36%;
  }
  
  .big-circle{
    overflow: hidden;
    height: 12em;
    width: 12em;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .purple-overlay{
    margin-top: -12em;
    display: inline-block;
    height: 12em;
    width: 12em;
    border-radius: 50%;
    background:  rgba(140,82,251,1);
  }
  
  .width-12-percent{
    width: 12%;
  }
  
  .font-size-15px{
    font-size: 15px;
  }
  
  .font-size-10px{
    font-size: 10px;
  }
  
  .horizontally-centered-div{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
  }
  
  .width-60-percent{
    width: 60%;
  }
  
  .overlay-purple {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    width: 12em;
    height: 12em;
    background-color:  rgba(140, 82, 251, 0.9);
  }
  
  .overlay-purple a {
    color: white;
    text-decoration: none;
  }
  
  .team-social-media-container span.overlay-purple{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    visibility: hidden;
  }
  
  .team-social-media-container:hover span.team-member-name{
    color: #524CF0;
  }
  
  .team-social-media-container:hover span.overlay-purple{
    visibility: visible;
  }
  
  .margin-top-3em{
    margin-top: 3em;
  }
  
  .image-footings {
    font-size: 9px;
    line-height: 16px;
  }
  
  .purple-box-shadow {
    box-shadow: 0px 10px 48px -4px #524CF0;
  }
  
  .width-20-percent {
    width: 20%;
  }
  
  .width-5-percent {
    width: 5%;
  }
  
  .padding-left-2em-and-right-1em {
    padding-left: 2em;
    padding-right: 1em;
  }
  
  .font-size-14px {
    font-size: 14px;
  }
  
  .big-banner-2-div {
    height: 60em;
  }
  
  .angled-gradient {
    background: linear-gradient(60deg, #CCB3FB, #6E7EF5, #6E7EF5, #8EDBF9);
  }
  
  .angled-gradient-purple {
    background: linear-gradient(60deg, #A99EF9, #A17AF9, #A17AF9, #E7C6FA);
  }
  
  .half-banner-image {
    object-fit: cover;
    overflow: hidden;
  }
  
  .white {
    color: white;
  }
  
  .select__wrapper--rounded {
    border: 1px solid #8EA1F3;
    border-radius: 3em;
    padding: 0.6em;
    width: 100%;
    overflow:hidden;
  }
  
  .input--nooutline {
    width: 100%;
    outline:none;
  }
  
  .gradient-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 16em 0 6em;
  }
  
  .input--nobackground {
    background: none;
    border: none;
    padding: 0 1em 0 1em;
  }
  
  .input__label--small{
    font-size: 12px;
    margin-right: 23px;
  }
  
  .input__text-editor--bottom-line{
    border: none;
    font-size: 10px;
    flex-grow: 1;
    color: #98999A;
    border-bottom: 1px solid #E0E1E2;
  }
  
  /* .input__text-editor--bottom-line:focus{
    outline: none;
  } */
  
  .input__text-editor--bottom-line.active{
    border-bottom: 1px solid #6E89EC;
  }
  
  .wrapper__input--flex{
    display: flex;
    flex-direction: row;
  }
  
  .form__table--padded{
    padding: 18px 10px;
  }
  
  .input__text-area--rouded-border{
    flex-grow: 1;
    margin-left: 40px;
    font-size: 10px;
    color: #98999A;
    border: 1px solid #E0E1E2;
    border-radius: 5px;
    resize: none;
  }
  
  /* .input__text-area--rouded-border:focus{
    outline: none;
  } */
  
  .padding-left-and-right-10px{
    padding-left: 10px;
    padding-right: 10px
  }
  
  .input__text-editor--rounded--blue-bg{
    background: #E7EFF1;
    border: none;
    border-radius: 5em;
    padding: 6px 15px;
    margin-right: 3em;
    min-width: 25em;
    font-style: italic;
  }
  
  /* .input__text-editor--rounded--blue-bg:focus{
    outline: none;
  } */
  
  .wrapper__input--above-default{
    margin-top: -8px;
    margin-bottom: 6px;
  }
  
  .medium-blue-background{
    background: #6985EA;
  }
  
  .skill-wrapper__div--above-default{
    margin-bottom: 1em;
    margin-top: -1.4em;
  }
  
  .justify-content-space-btwn{
    justify-content: space-between;
  }
  
  .margin-right-neg-1-point-6em{
    margin-right: -1.6em;
  }
  
  .badge__icon--grey{
    font-size: 21px;
    color: #A0A1A2;
    background: white;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    line-height: 0.2;
    margin-top: -22px;
    padding: 3px 0px;
    float: right;
    margin-right: -20px;
    position: relative;
  }
  
  @-moz-document url-prefix() {
    .badge__icon--grey{
      margin-top: -8px;
      font-size: 15px;
      height: 16px;
      width: 16px;
      margin-right: -20px;
      line-height: 1;
      padding: 0px 1px;
    }
  }
  
  .margin-right-1-point-5em{
    margin-right: 1.5em;
  }
  
  .flew-grow-1{
    flex-grow: 1;
  }
  
  .btn--rounded--small{
    font-weight: 300;
    border-radius: 2em;
    background: #E8F0F2;
    color: black;
    padding: 0.4em 2.5em;
    margin: 1em;
  }
  
  .btn--rounded--small.dark-blue{
    background: #4F51F0;
    color: white;
  }
  
  .margin-top-4-point-5-es{
    margin-top: 4.5em;
  }
  
  .gradient-overlay-2 {
    position: absolute;
    content:"";
    height: 50.11em;
    width: 100%;
    top: 3.8em;
    left:0;
    background: linear-gradient(to right, rgba(140,82,251,0.1),rgba(140,82,251,0.8), rgba(140,82,251,0.1));
  }
  
  .overlay-text {
    width: 32em;
    font-size: 20px;
  }
  
  .dark-grey-bottom-border {
    border-bottom: 1px solid #6C6D6D;
  }
  
  .width-72-percent {
    width: 72%;
  }
  
  .font-size-40px {
    font-size: 40px;
  }
  
  .grey {
    color: #858687;
  }
  
  .padding-bottom-7em {
    padding-bottom: 7em;
  }
  
  .blog-nav-avatar {
    width: 2em;
    height: 2em;
    margin: 0.7em 2em 0 1em;
  }
  
  .width-10-em {
    width: 10em;
  }
  
  .big-heading-5-rem {
    font-size: 5rem;
    line-height: 1em;
  }